body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.outer-container {
  justify-content: center;
  display: flex;
}



.container {
  text-align: center;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  margin: 10px;
  font-size: 5vw;
  color: #060663;
}

.ant-picker-cell-in-view {
  color: #060663 !important;
}

.date-cell {
  font-size: 3vw;
  padding: 7px;
  margin: 7px;
  border: 1px solid;
  border-radius: 4px;
  background: #9f9ee5;;
}

.date-cell-next {
  font-size: 3vw;
  padding: 7px;
  margin: 7px;
  border: 1px solid;
  border-radius: 4px;
  background: #9f9ee5;;
}

.ant-picker-cell-selected .date-cell {
  background-color: #5279e5;
}

.ant-typography {
  color: #060663 !important;
}


.battery-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.battery-level {
  width: 500px;
  height: 300px;
  border: 1px solid #000;
  margin: 20%;
  position: relative;
  overflow: hidden;
}
.battery-fill {
  background-color: #0f0; /* Green color */
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/* .ant-progress-inner {
  width: 500px !important;
  height: 500px !important;
  padding: 10px;
  margin: 10px;
  font-size: 120px !important;
} */


.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
  border-radius: 5px;
}
.logo {
  float: left;
  width: 50px;
  height: 50px;
  margin: 7px 10px 10px 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}
.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.content-div {
  padding: 0 50px;
  overflow:auto
}

.expense-continer-div {
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .content-div {
    padding: 0 10px;
    overflow:auto
  }
  .expense-continer-div {
    padding: 5px;
  }
  .site-layout-content {
    min-height: 280px;
    padding: 14px;
    background: #fff;
    border-radius: 5px;
  }
}

/* Add to your CSS file */

.header .desktop-menu {
  display: none;
}

.header .menu-button {
  display: block;
  margin: 0 0 auto auto;
}


.footer-layout {
  text-align: center;
  padding: 10px !important;
  background: #fff !important;
}

.date-cell-title {
  margin-right: 5px;
}

@media (min-width: 768px) {
  .header .desktop-menu {
    display: flex;
  }
  
  .header .menu-button {
    display: none;
  }

  .footer-layout {
    display: block;
  }
}



